@import "variables";

.modalLayout {
    position: fixed;
    background-color: var(--color-white);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    .modalLayout__container {
        display: flex;
        padding: 20px;
        max-height: 100%;
        .modalLayout__wrapper {
            display: flex;
            flex: 1;
            justify-content: space-between;
            overflow: hidden;
            flex-direction: column-reverse;
            .modalLayout__content {
                overflow: scroll;
            }
        }
    }

    @media #{$notMobile} {
        .modalLayout__container {
            padding: 64px 20px;
            .modalLayout__wrapper {
                flex-direction: row;
                .modalLayout__content {
                }
                .modalLayout__closeBtn {
                    padding-left: 15%;
                    padding-bottom: 50px;
                    cursor: pointer;
                    align-self: flex-start;
                }
            }
        }
    }

    @media #{$mobile} {
        .modalLayout__container .modalLayout__wrapper {
            .modalLayout__content {
                .modalLayout__info {
                }
            }
            .modalLayout__closeBtn {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
            }
        }
    }
}

.formForDownloadApp {
    .formForDownloadApp__title {
        margin-bottom: 12px;
    }
    .formForDownloadApp__message {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 48px;
    }
    .formForDownloadApp__form {
    }

    @media #{$notMobile} {
        max-width: 560px;
        .formForDownloadApp__form {
            max-width: 320px;
        }
    }
}

.clientDataForm {
    .clientDataForm__control {
        margin-bottom: 12px;
        .clientDataForm__input {
            font-size: 16px;
            line-height: 24px;
            padding: 10px;
            border: 2px solid #f2f3f4;
            background-color: #f2f3f4;
            color: #333;
            border-radius: 12px;
            outline: none;
            width: 100%;
            caret-color: #4a4ac6;
            &::placeholder {
                color: #a8a8a8;
            }
        }
        &--invalid {
            .clientDataForm__input {
                border-color: #d70015;
            }
        }
    }
    .clientDataForm__buttons {
        margin-top: 24px;

        .clientDataForm__btn {
            width: 100%;
        }
    }
}

.closeButtonInWindow {
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--withEffect {
        &:hover {
            .iconForCloseInModal {
                transform: scale(1.4) rotate(180deg);
            }
        }
    }
}

@media #{$notMobile} {
    .closeButtonInWindow {
        margin-left: 76px;
        &:after {
            content: "Close";
            position: absolute;
            right: 100%;
            top: 0;
            font-size: 16px;
            transform: translateX(-4px);
        }
    }
}

.iconForCloseInModal {
    position: relative;
    width: 24px;
    height: 24px;
    transition: 0.7s;

    &:before {
        content: "";
        width: 2px;
        height: 20px;
        border-radius: 1px;
        background-color: var(--color-black1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        transform-origin: center center;
    }

    &:after {
        content: "";
        width: 2px;
        height: 20px;
        border-radius: 1px;
        background-color: var(--color-black1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transform-origin: center center;
    }
}
