<div class="modalLayout">
    <div class="container modalLayout__container">
        <div class="modalLayout__wrapper">
            <div class="modalLayout__content">
                <div class="formForDownloadApp">
                    <h1 class="moduleTitle formForDownloadApp__title">
                        Application for access
                    </h1>
                    <div class="formForDownloadApp__message">
                        We invited the first users to test the application. In a
                        few days we will open public access. If you want to keep
                        abreast of news, provide your contacts and subscribe to
                        updates
                    </div>
                    <form
                        class="formForDownloadApp__form clientDataForm"
                        [formGroup]="clientForm"
                        (ngSubmit)="submit()"
                    >
                        <div
                            class="clientDataForm__control"
                            [ngClass]="{
                                'clientDataForm__control--invalid':
                                    clientForm.get('name')?.touched &&
                                    clientForm.get('name')?.invalid,
                            }"
                        >
                            <input
                                id="clientName"
                                placeholder="Name"
                                class="clientDataForm__input"
                                formControlName="name"
                                type="text"
                            />
                        </div>
                        <div
                            class="clientDataForm__control"
                            [ngClass]="{
                                'clientDataForm__control--invalid':
                                    clientForm.get('email')?.touched &&
                                    clientForm.get('email')?.invalid,
                            }"
                        >
                            <input
                                id="clientEmail"
                                placeholder="Email"
                                class="clientDataForm__input"
                                formControlName="email"
                                type="text"
                            />
                        </div>
                        <div class="clientDataForm__buttons">
                            <button
                                type="submit"
                                class="clientDataForm__btn btn"
                                [disabled]="submitted"
                            >
                                Subscribe to updates
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modalLayout__closeBtn" (click)="onClickCloseBtn()">
                <div class="closeButtonInWindow">
                    <div class="iconForCloseInModal"></div>
                </div>
            </div>
        </div>
    </div>
</div>
