<app-header (click)="onHeaderClick($event)"></app-header>
<main class="page">
    <div class="container page__container">
        <div class="mainVideo" [class.mainVideo--afterLoadPosterImg]="posterImgLoad()">
            <!-- Todo: нужно будет добавить событие (error) на видео когда не удастся его загрузить чтоб на баннере не показывался значок "play" и курсор был не pointer. Только у него слабая поддержка браузеров поэтому скорее всего придется прибегнуть к событию canplay -->
            <video #advertisingVideo class="mainVideo__video" playsinline controls>
                <source src="https://static.dazzlink.asia/landing/advertising.mp4" type="video/mp4" />
                Ваш браузер не поддерживает встроенные видео.
            </video>
            <!-- <div
                class="mainVideo__customPoster1"
                [class.mainVideo__customPoster1--hidden]="!showVideoPoster()"
                (click)="onVideoPlay()"
            >
                <div class="playIcon"></div>
            </div> -->
            <div
                class="mainVideo__customPoster2"
                (click)="onVideoPlay()"
                [class.mainVideo__customPoster2--hidden]="!showVideoPoster()"
            >
                <img
                    class="mainVideo__posterImg"
                    (load)="onloadCustomPoster()"
                    src="assets/images/promo-page/bannerForVideo.png"
                    alt="poster"
                />
                <div class="playIcon"></div>
            </div>
        </div>

        <!-- <div class="mainPicture">
            <picture>
                <source
                    media="(max-width: 767px)"
                    srcset="assets/images/promo-page/mainPicForMobile.png"
                />
                <img
                    src="assets/images/promo-page/mainPic.png"
                    class="mainPicture__img"
                    alt="mainPicture"
                />
            </picture>
        </div> -->

        <div class="aboutAppInfo">
            <div class="container aboutAppInfo__container">
                <div class="aboutAppInfo__text">
                    <h1 class="title">Dazzlink: build great relationships</h1>
                    <div class="aboutAppInfo__cont">
                        Dating for those who are looking for a serious life partner, not fleeting meetings
                    </div>
                </div>
                <div class="aboutAppInfo__infoLinks aboutAppInfo__infoLinks--forDesktop">
                    <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
                </div>
                @if (mobileDetectService.osDevice) {
                    <div class="aboutAppInfo__infoLinks aboutAppInfo__infoLinks--forMobile">
                        <button type="button" (click)="onClickByDownloadAppOnMobile()" class="downloadApp">
                            <div class="downloadApp__title">Download the<br />mobile app</div>
                            <div class="downloadApp__icon">
                                <img [src]="mobileDetectService.mobileStoreIconSrc()" alt="store" />
                            </div>
                        </button>
                    </div>
                } @else {
                    <div class="aboutAppInfo__infoLinks aboutAppInfo__infoLinks--forMobile">
                        <ng-container *ngTemplateOutlet="linkToApp"></ng-container>
                    </div>
                }
            </div>
        </div>
        <!-- <button
            style="
                padding: 20px;
                border-radius: 16px;
                background-color: gray;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
                border: none;
                margin: 20px 0px;
            "
            type="button"
            (click)="onClickMyBtn()"
        >
            Button
        </button>
        <div style="background-color: red; width: 400px; height: 700px"></div>
        <div style="margin-top: 20px">{{ titleForDownloadBtn }}</div>
        <div style="margin-top: 20px">{{ name() }}</div> -->

        @if (openAppFormModal()) {
            <app-modal (onClose)="onCloseModal()"></app-modal>
        }
    </div>
</main>
<div class="promoFooter">
    <div class="container promoFooter__container">
        <app-footer></app-footer>
    </div>
</div>

<ng-template #linkToApp>
    <div class="linkToApp">
        <a
            (click)="onClickByDownloadApp($event)"
            href="https://www.apple.com/app-store"
            target="_blank"
            class="linkToApp__item"
        >
            <img src="assets/images/store/linkIOSShort.svg" class="linkToApp__img" alt="IOS" />
        </a>
        <a
            (click)="onClickByDownloadApp($event)"
            href="https://play.google.com"
            target="_blank"
            class="linkToApp__item"
        >
            <img src="assets/images/store/linkAndroid.svg" class="linkToApp__img" alt="Android" />
        </a>
        <a
            (click)="onClickByDownloadApp($event)"
            href="https://appgallery.huawei.com"
            target="_blank"
            class="linkToApp__item"
        >
            <img src="assets/images/store/linkAppGallery.svg" class="linkToApp__img" alt="AppGallery" />
        </a>
    </div>
</ng-template>
