.btn {
    background-color: #4a4ac6;
    color: #fff;
    padding: 12px 20px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
        .btn__spinner {
            display: none;
            height: 100%;
            padding: 6px 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.btn--isLoading {
            position: relative;
            opacity: 1;
            color: #4a4ac6;
            cursor: wait;
            .btn__spinner {
                display: block;
            }
        }
    }
}
